@keyframes fade_open{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade_hide{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.fade_hide{
    animation :fade_hide 2s ease forwards;;
}

.fade_open{
    animation :fade_open 2s ease forwards;;
}

#load_container.fade_open{
    animation :fade_open 0.5s ease forwards;;
}

#baseee{
    padding: 1.2%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
}

#load_frame{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 95%;
    height:68%;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 736 900' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1.021246,0,0,1.208047,0,0)'%3E%3Cpath d='M642.474,0L720,65.538L720,678.933L642.474,744.471L77.526,744.471L0,678.933L-0,65.538L77.526,0L642.474,0ZM640.04,4.967L79.96,4.967L5.875,67.596L5.875,676.876L79.96,739.504L640.04,739.504L714.125,676.876L714.125,67.596L640.04,4.967Z' style='fill:rgb(38,38,38);'/%3E%3C/g%3E%3C/svg%3E");
}

#ini_message{
    position: absolute;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: max(5cqw,11.5px);
}

#load_container{
    position: absolute;
    width: 100%;
    height:100%;
    padding: 2%;
    padding-top: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarm{
    font-size: max(4.5cqw,11.5px);
    width: 82%;
    height: 82%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#indexedDB_accept{
    margin-top: 4%;
    width: 60%;
    height: 7%;
    font-size: 4.5cqw;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 515 100' version='1.1' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='dot-pattern' width='12' height='12' patternUnits='userSpaceOnUse'%3E%3Ccircle cx='5.442' cy='8.68' r='0.6' fill='%23404040'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='515' height='100' fill='%23fff'/%3E%3Crect width='515' height='100' fill='url(%23dot-pattern)'/%3E%3C/svg%3E");
}

#loadprogress{
    display: none;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

#loadprogress > p{
    overflow-wrap: anywhere;
}

#loadprogress_discription{
    font-size: 12px;
}

#creator_div{
    position: absolute;
    bottom: 0;
    margin-top: auto;
    margin-bottom: 3%;
    margin-left: 2%;
}

#creator_div > p{
    -webkit-text-stroke: 1cqw #fff;
    paint-order: stroke fill;
    font-size: 4cqw;
}