    @font-face{
        font-family: "Koguchi";
        src: url("font/851Gkktt_005.ttf") format("truetype");/*変更済み*/
    }

    @font-face{
        font-family: "Kaiso";
        src: url("font/Kaisotai-Next-UP-B.otf") format("opentype");/*変更済み*/
    }

    .top{
        width: 100%;
        height: 100%;
        /*20260728午前 Lineのものに調整*/
        position:absolute;
        top: 0;
        left: 0;
		z-index: 80;

        display: none;
    }
	.top.is_open{
		display: block;/*変更済み*/
	}
    .top.map{
        overflow: hidden;
        touch-action: none;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); /* Safari対策 */
        background-color: rgba(255, 255, 255, 0.5);
    }
    #map_svg {
        width: 100%;
        height: 100%;
        transform-origin: center; /* または 50% 50% に変更 */
        cursor: grab;
    }

    
/*戻るボタン*/
    
    .backbutton {
        position: absolute;
        top: 5%;
        right: 10%;
        aspect-ratio: 1 / 1;
        width: 12%;
        border: none;
        background-color: transparent;
    }

    .backbutton:active {
        filter:brightness(80%);
    }


    .back_content{
        background-image: var(--back_content-url); /*url(../material/button/back_button.svg);*/
    }

    .display_close{
        background-image: var(--display_close-url);/*url(../material/button/close_button_square.svg);*/
    }

    .map_close{
        background-image: var(--map_close-url);/*url(../material/button/close_button_round.svg);*/
    }

/*カメラ機能*/

    .camera_block{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -60%);
        width: 80%;
        aspect-ratio: 1;
        background-color: gray;

    }