

/*タイトル画面*/
    #mainlogotype,#mainlogotype_anim{
        position: absolute;
        height: 20%;
        width: 100%;
    }
    #mainlogotype{
        top: 0%;
    }
    .logo_nomal_position{
        top: 0%;
    }

    .logo_center_position{
        top: 33%;
    }
        

    #titlelogo,#titlelogo_anim{/*20260728午前 Lineのものに調整待機: html要素の変更*/
        position: absolute;
        width: 100%;
    }

    #mainlogotype{
        top: 0%;
    }


    #logo_base{/*20260728午前 Lineのものに調整*/
        position: absolute;
        width: 95%;
        aspect-ratio: 720 / 168;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #262626;
    }

    #logo_base_anim{/*20260728午前 Lineのものに調整*/
        position: absolute;
        width: 95%;
        aspect-ratio: 720 / 168;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #262626;
    }



    #pendant,#pendant_anim{/*20260728午前 Lineのものに調整待機: html要素の変更*/
        position: absolute;
        width: 2.5%;
        right: 5%;
        top: 64.6%;
    }


    #largebuttonblock{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
        width: 75%;
        height: 9%;
        background-color: gray;
    }

    .hidden{
        display: none;
    }

    #titlebg{
        width: 100%;
        height: 100%;
        z-index: 20;
        background-size: cover;
        background-position: center;
        background-image: var(--titlebg-url);/*url("../material/back_image/title_default.jpg");*/
    }

    #smallbuttonblock{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
        width: 55%;
        height: 23%;
        
    }

    #tooliconblock{
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
        width: 75%;
        height: 11%;
    }

    .title_largebutton{
        width: 100%;
        height: 100%;
        background-color: #262626;
        padding: 1.51cqw;
        border: none;
        /*画像を読み込むのではなく、cssのみに変更
        background-image: var(--title_largebutton-url);, url("../material/button/small_button.svg")
        */
    }

    .title_largebutton:active .Lbutton_frame{
        border: 0.5cqw solid #FF6000;
    }

    .title_largebutton:active{
        background-color: #303030;
    }

    .Lbutton_frame{
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        border: 0.5cqw solid white;

        font-size: 8cqw;
        font-family: "Kaiso";
        color: white;

        padding-top: 0.5cqw;
    }

    .title_smallbutton{
        width: 100%;
        aspect-ratio: 103 / 20;
        background-size: cover;
        background-image: var(--title_smallbutton-url);/*, url("../material/button/small_button.svg")*/
        background-position: center;
        font-size: 5cqw;
        font-family: "Kaiso";
        border: 2px solid #202040;
        padding-top: 1.7%;
        color: #202020;

        display: flex;
        align-items: center;
        justify-content: center;


    }

    .title_smallbutton:active{
        opacity: 0.9;
        border: 2px solid #402040;
    }


    .toolicon{
        height: 100%;
        aspect-ratio: 1 / 1;
        border: 1.8cqw outset #FF7F4E;
        outline: solid #202040 1.1cqw;
    }

    .toolicon:active{
        border: 1.8cqw inset #FF7F4E;
    }

    
    #cameraicon{
        background-image: var(--cameraicon-url);/*url("../material/button/cameraicon.svg")*/
    }

    #codeicon{
        background-image: var(--codeicon-url);/*url("../material/button/codeicon.svg")*/
    }

    #settingicon{
        background-image: var(--settingicon-url);/*url("../material/button/settingicon.svg")*/
    }
    
/*謎解きモード*/

    .mysterybuttonblock{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);

        width: 80%;
        height:70%;

        display: flex;
        background-color: gray;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3%;
    }

    .mysterybutton{
        width: 30%;
        aspect-ratio: 1;
    }


/*レコードモード*/
    #log_block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    .log_container{
        position: absolute;
        top: 15%;
        right: 0;
        width: 92%;
        aspect-ratio: 632 / 923;
        background-color: gray;

        background-image: var(--log_container-url);/*url(../material/back_image/book.svg);*/
        background-size: cover;
    }

    .log_button{
        height: 7%;
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: 4cqw; 
    }

    .log_button:active{
        color: #00F3A6;
    }

    .log_button_box{
        position: absolute;
        top: 18%;
        right: 1%;

        width: 90%;
        height:70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .log_line{
        width: 90%;
        height: 1%;
        transform: scaleY(0.25);
        background-color: #262626;
    }


    #summary_box{
        position: absolute;
        background-color: white;
        top: 45%;
        right: 6%;
        height: 37%;
        width: 84%;
        font-size: 4.3cqw;
        padding: 4%;
        box-sizing: border-box;
        text-align:justify;

        border: 0.8cqw double #262626;

    }

    #summary_title_number {
        position: absolute;
        left: 9%;
        top: 5%;
        height: 6%;
        width: 50%;

        font-size: 8cqw;
    }

    #log_title {
        position: relative;
        top: 7%;
        left: 4%;
        height: 10%;
        width: 80%;
        font-size: 8cqw;
        font-family: Kaiso;
        display: flex;
        justify-content: center;
    }

    #replay_story{
        position: absolute;
        top: 86%;
        right: 6%;

        width: 40%;
        height: 8%;
        background-color: #262626;
        color: white;
        border: none;

        padding: 1%;
        box-sizing: border-box;
    }

    #replay_frame{
        height: 100%;
        width: 100%;
        border: 0.5cqw solid white;

        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4cqw;
    }

    .pictures_div{
        position: absolute;
        top: 14%;
        height: 30%;
        width: 90%;
    }

    .pictures{
        position: absolute;
        height: 70%;
        aspect-ratio: 4 / 3;
        background-color: lightgray;
    }

    #pictures_2 {
    top: 10%;
    left: 57%;
    transform: rotate(8deg);
    }

    #pictures_1 {
    left: 11%;
    top: 20%;
    }

    .logbase{
        background-color: #202040;
    }

    .rec_blg_title {
        font-family: Koguchi;
        font-size: 6cqw;
        position: absolute;
        top: 7%;
        left: 8%;
        transform: scaleY(1.75);
        color: white;
    }

    .cAtestIMAGE{
        position: absolute;
        top: 0%;
        left: 0%;
        max-width: 100%;
        max-height: 100%;
    }

   