    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column; 
    }

/* <!-- 画面比は9:16固定で幅の狭い方に合わせる--> */

    .base {
        position: relative;
        aspect-ratio: 9 / 16;
        width: min(100lvw, calc(100vh * 9 / 16));
        height: auto;
        background-color: lightgray;
        margin: 0 auto;
        z-index: 1;
        justify-content: space-between;
    }

    .top{
        width: 100%;
        height: 100%;
        z-index: 1;
        position:absolute;
        top: 0;
        left: 0;


        display: none;


    }

    
/*戻るボタン*/
    
    .backbutton{
        position: absolute;
        top:5%;
        left: 80%;
    }

/*カメラ機能*/

    .camera_block{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -60%);
        width: 80%;
        aspect-ratio: 1;
        background-color: gray;

    }
	
	/*バイブレーション機能*/
@keyframes shake-effect {
  0% { transform: translate(0, 0) rotate(0deg); }
  20% { transform: translate(-1px, 1px) rotate(-0.25deg); }
  40% { transform: translate(1px, -1px) rotate(0.25deg); }
  60% { transform: translate(-1px, -1px) rotate(0deg); }
  80% { transform: translate(1px, 1px) rotate(0.25deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}

/* アニメーションを適用するためのクラス */
.vibrate-shake {
  /* 0.1秒の間に高速でループさせる */
  animation: shake-effect 0.1s ease-in-out infinite;
}